*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background: #eee;
    color: #333;
}

a{
    color: #fff;
    text-decoration: none;
}

/* header */

header{
    background-color: #333;
    padding: 1rem 2rem;
    line-height: 1.8rem;
}

header nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header nav h1{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-family: "Long Cang", cursive;
    font-size: 3rem;
    font-weight: 300;
}

header nav h1 i{
    color: #f1c40f;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    padding: 1rem;
}

header ul li a:hover {
    color: #f1c40f;
}

/* 1ere section */

.firstSection{
    align-items: center;
    background: url("https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project2/frame.jpg") center center/cover;
    display: flex;
    flex: auto;
    justify-content: center;
}

.contentFirstSection{
    color: #fff;
    max-width: 800px;
    padding: 1rem;
    text-align: center;
}

.firstSection .contentFirstSection h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.firstSection .contentFirstSection strong{
    color: #f1c40f;
    font-weight: 400;
}

.firstSection .contentFirstSection p{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-bottom: 1rem;
}

/* section offre */

#offer{
    padding: 10rem 1rem;
}

.contentOffer{
    max-width: 1200px;
    margin: auto;
}

.contentOffer h2{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.listOffer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
}

.elementOffer{
    border: 1px solid #ddd;
    background: white;
    flex: 1;
    margin: 1rem;
}

.imgOffer{
    width: 100%;
}

.textOffer{
    padding: 2rem;
    text-align: center;
}

.elementOffer .textOffer p{
    margin-bottom: 1rem;
}

.elementOffer .textOffer p:nth-child(2){
    position: relative;
    padding-bottom: 1rem;
}

.elementOffer .textOffer p:nth-child(2)::after{
    background-color: #000;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

/* section team */

#team{
    display: flex;
    flex-flow: row nowrap;
    min-height: 600px;
}

.imgTeam{
    flex: 1;
    background: url("https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project2/team.jpg") center center/cover;
}

.textTeam{
    background: #333;
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.textTeam h2{
    margin-bottom: 2rem;
}

.textTeam h2 strong{
    color: #f1c40f;
    font-weight: 400;
}

.textTeam p{
    font-size: 1.3rem;
    line-height: 1.8rem;
}